.sectionContainer{
    padding: 4rem 2rem;
    background-color: #fff;
    text-align:left;
}

.sectionTitle{
    font-size: 1.8rem;
    color: black;
    font-family: 'PT Serif',  sans-serif;
    
}

.cardsContainer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)) ;
    gap: 1rem;
    padding-top: 50px;
    justify-items:stretch;
}

.card{
    padding-bottom: 1rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 100%;
    text-align: left;
    transition: transform 0.2s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 2px;
}

.card h3{
    font-family: 'Inter', sans-serif;
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
}

.card p{
    font-family: 'Inter', sans-serif;
    padding-left: 1rem;
    font-size: 0.95rem;
    color: #666;
    margin: 0.5rem 0 1rem;
}

.card button{
    margin-left: 1rem;
    background-color: #fff;
    color: #fa5d3e;
    border: 1px solid #fa5d3e;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.card button:hover{
    background-color: #fa5d3e;
    color: white;
}