.infoSection{
    margin-top: 5rem;
    padding: 0 5rem 0 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 32px;
    align-items: start; 
    width: 100%;
    
}

.left{
    flex: 2;
    
}

.right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

@media(max-width: 768px){
    .infoSection{
        grid-template-columns: 1fr;
    }

    .left, 
    .right{
        width: 100%;
        

    }

    .right{
         position: static;
         margin-top: 20px;
    }
    
}