.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2rem; 
  width: 420px;
  height: 450px;
  margin: 30px auto 50px;
  background: transparent;
  border: 2px solid #6364651a;
  box-shadow: 0 0 10px #63646518  ;
  border-radius: 5px;
  overflow: hidden;
  transition: height .2s ease;
}

.wrapper.active{
    height: 520px;
}


.formLogin, .formRegister{
    width: 100%;
    color: white; 
    padding: 20px 40px;
   
}

.wrapper.active .formLogin{
    transition: none;
    translate: -400px;
}

.wrapper .formLogin{
    transition: translate .18s ease ;
    translate: 0;
}

.wrapper.active .formRegister{
    transition: translate .18s ease ;
    translate: 0;
}

.wrapper .formRegister{
    position: absolute;
    transition: none;
    translate: 400px;
}


h1{
    color: black;
    font-size: 1.8rem;
    text-align: center;
    
}

form .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    outline: none;
    margin: 25px 0 ;
    
}
                
form .inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #919699;
    font-size: 16px;
    color: #636465;
    padding: 20px 45px 20px 20px; 
}

.inputbox input::placeholder{
    color: #636465;
}

.inputbox .icon{
    position: absolute;
    right: 20px;
    top: 35%;
    color: #133A4F;
    font-size: 16px;
}

.proprietor{
    margin: 0 5px 30px 0;
    color: #000;
    font-size: 1.0rem;

}

.proprietor label input{
    margin-right: 3px;
    accent-color: #fff;
}

.remember{
    display: flex;
    justify-content: space-between;
    font-size: 1.0rem;
    margin: 10px 0 20px;
    color: #000;
    
}

.remember label input{
    margin-right: 3px;
    accent-color: #fff;
}

.remember a{
    padding-left: 10px;
    color: #133A4F ;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 45px;
    background:#FA5D3E ;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.0rem;
    margin-bottom: 10px;

}

.registerLink, .loginLink{
    font-size: 1.0rem;
    text-align: center;
    margin: 20px 0 15px;

}

.registerLink p {
    color: #636465;
}

.loginLink p {
    color: #636465;
}
.registerLink  p a{
    color: #133A4F;
    text-decoration: none;
}

.loginLink p a{
    color: #133A4F;
    text-decoration: none;
}

.registerLink p a:hover{
    text-decoration: underline;

} 

.loginLink p a:hover{
    text-decoration: underline;}

