.infoContainer{
    justify-content: left;
    margin: 10px auto;
}

.title{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
}

.detailsRow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    color: #636465;
}

.rating{
    display: flex;
    align-items: center;
    gap: 2px;
    color: #636465;
}


.score,
.location,
.reviews{
    font-size: 15px;
    color: #4d4e4e;
}

.description{
    font-size: 16px;
    line-height: 1.6;
    color: black;
    overflow: hidden;
}