.sectionContainer{
    padding: 4rem 2rem;
    background-color: white;
    text-align: left;
}

.sectionTitle{
    font-size: 1.8rem;
    color: black;
    font-family: 'PT Serif',  sans-serif;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 50px; 
}

