.sectionContainer{
    padding: 4rem 2rem;
    background-color: white;
    text-align: left;
}

.sectionTitle{
    font-size: 1.8rem;
    color: black;
    font-family: 'PT Serif',  sans-serif;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 50px;
    
   
}

.card{
    display: flex;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    transition: transform 0.2s ease;
    overflow: hidden;
    justify-items:stretch;
    height: 100%;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 190px;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}


.cardContent{
    flex: 1;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.titleRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardContent h3{
    margin:0;
    font-size: 1.2rem;
    color: #222;
}

.category{
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0.5rem;
}

.cardContent p{
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 1rem;
}

.ratingPrince{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.starIcon{
    color : #133a4fec;
}

.rating{
    color : #133A4F;
    font-family: 'Inter' sans-serif;
    font-weight:00;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.starIcon{
    margin-right: 0.3rem;
}

.price{
    font-family: 'Inter' sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.cardActions{
    display: flex;
    align-items: flex-end;
}

.heartIcon{
    font-size: 1.3rem;
    color: #fa5d3e;
    cursor: pointer;
    margin-bottom: 1rem;
}

.buttonRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}


.cardContent button{
    background-color: #fff;
    color: #fa5d3e;
    border: 1px solid #fa5d3e;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.cardContent button:hover{
    background-color: #fa5d3e;
    color: white;
}

@media(max-width: 768px){

    .gridContainer{
        grid-template-columns: 1fr;
    }

    .card{
        flex-direction: column;
        height: flex-start;
    }

    .card img{
        width: 100%;
        height: auto;
    }

    .titleRow{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .buttonRow{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .buttonRow button{
        align-self: flex-start;
    }
}


